# Include the README files
include README.md
include README_dev.md

# Include the license file
include LICENSE

# Include CMake build instructions.
include CMakeLists.txt
include src/CMakeLists.txt
global-include CMakeLists.txt *.cmake

# Include stuff in ext
graft ext/pybind11
graft ext/Catch2
graft src
graft include
graft python